---
import "../styles/global.css"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="GitHub Projects Showcase by Mathieu Caroff"
    />
    <meta name="viewport" content="width=device-width" initial-scale="1" viewport-fit="cover" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative min-h-screen p-4">
    <canvas class="fullbackground fixed inset-0 -z-10 h-screen w-screen"
    ></canvas>
    <slot />
  </body>
</html>

<script>
  import {
    createColorStrip,
    type ColorStripConfig,
  } from "@mathieucaroff/colorstrip"
  import { resolveSearchAndHash } from "../lib/urlParameter"

  interface MainConfig extends ColorStripConfig {
    seed: number
    hue: number | undefined
  }

  function getConfig() {
    return resolveSearchAndHash<MainConfig>(location, {
      diversityRatio: () => 0.25,
      radiusFactor: () => 1,
      secondaryRadiusFactor: ({ radiusFactor }) => radiusFactor(),
      speedFactor: () => 0.2,
      seed: () => Math.floor(Math.random() * 2 ** 32),
      paletteSeed: ({ seed }) => seed(),
      stripCircleSeed: ({ seed }) => seed(),
      stripCount: () => 10,
      theme: () => "pastelle",
      hue: () => undefined,
      baseHue: ({ hue }) => hue(),
    })
  }

  const canvas = document.querySelector(".fullbackground") as HTMLCanvasElement

  function resize() {
    canvas.width = window.innerWidth
    canvas.height = window.innerHeight
  }
  window.addEventListener("resize", resize)
  resize()

  const config = getConfig()

  let strip = createColorStrip(canvas, config)

  strip.play()
</script>
